@{
    Layout = "~/Views/Shared/_Layout_dep.cshtml";
}


<section class="content-header">
    <h1>
        Tableaux de bord

    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin" class="active"><i class="fa fa-dashboard"></i> Tableaux de bord</a></li>

    </ol>
</section>
<section class="content">
    <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">demande de recrutement</span>
                    <span class="info-box-number">90</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-check-square-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">tache a faire</span>
                    <span class="info-box-number">41,410</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <!-- fix for small devices only -->
      

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-pencil-square"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">messages en attente</span>
                    <span class="info-box-number">760</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-user-plus "></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">demande etudiants</span>
                    <span class="info-box-number">2,000</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>
